<div class="login-box" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); ">
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p style="color:red">@ViewBag.message</p>

            <form action="@Url.Action("ModifierCompt","Admin")" method="post">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" name="AdrMail" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-4" style="left:50%;transform:translate(-50%)">
                        <button type="submit" class="btn btn-primary btn-block">valider</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
